body {
  background-color: #f7f7fa;
  font-family: "Pretendard Variable", sans-serif;
}

#side-menu-btn {
  position: absolute;
  top: 1.6vh;
  left: 1vw;
  background-color: inherit;
  border: 0px;
  cursor: pointer;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 56vw;
  margin: 0 auto 0 auto;
}

/* header 영역 */
header {
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 6vh;
}

.title-header-img {
  width: 30vw;
  height: calc(30vw * 0.199);
}

/* 탭 nav 영역 */
.select-tab-navigation {
  display: flex;
  width: fit-content;
  margin: 0 auto 2vh auto;
}

/* 버튼 공통 속성 관리 */
.select-tab-navigation button {
  width: 26.3vw;
  height: 6.8vh;
  background-color: #fdfdfd;
  border: 0px;
  cursor: pointer;
  transition: border-bottom 0.2s;
}

#select-incomplete-btn {
  border-radius: 10px 0 0 10px;
  border-right: 2px solid #d8d8d8;
  font-size: clamp(14px, 1.6vw, 34px);
}

#select-complete-btn {
  border-radius: 0 10px 10px 0;
  font-size: clamp(14px, 1.6vw, 34px);
}

/* 추가된 class : 탭 버튼 활성화 관리 */
.select-tab-navigation > .active-tab {
  box-sizing: border-box;
  border-bottom: red solid 2px;
}

/* todo 입력란 섹션 */
.add-todo-section {
  width: 100%;
  margin-bottom: 3vh;
  text-align: center;
}

#add-todo-form {
  width: 56vw;
  height: 7.1vh;
  display: flex;
  align-items: center;
  background-color: #fdfdfd;
  border-radius: 20px;
  box-shadow: 2px 4px 4px #00000040;
}

#add-todo-input {
  height: 90%;
  width: 46vw;
  border: 0px;
  font-size: clamp(12px, 1vw, 32px);
}

/* 포커스 border 효과 제거 */
#add-todo-input:focus {
  outline: 0px;
  border: 0px;
  box-shadow: 0px;
}

#add-todo-btn {
  height: 100%;
  width: 5%;
  margin-left: 3%;
  background-color: inherit;
  border: 0px;
  cursor: pointer;
  font-size: 20px;
}

/* todo 메인 파트 */

.todo-list-cell {
  width: 51vw;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2vw;
  background-color: #fdfdfd;
  border-radius: 10px;
  margin-bottom: 1.2vh;
  font-size: clamp(14px, 1.1vw, 20px);
}

.todo-list-cell .todo-list-complete-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #fdfdfd;
  border: 0px;
}

.todo-list-complete-btn svg path {
  transition: fill 0.2s ease;
}

.todo-list-complete-btn circle {
  transition: stroke 0.2s ease;
}

.todo-list-complete-btn:hover svg path {
  fill: #00c851; /* 완료시 강조색 */
}

.todo-list-complete-btn:hover circle {
  stroke: #00c851;
}

.todo-list-date {
  font-size: 0.9vw;
}

/* 추가된 부분 : date 상태 색상 관리 */
.date-normal {
  color: #00ad14;
}

.date-warm {
  color: #edbe06;
}

.date-danger {
  color: #cf0404;
}

/* 추가된 부분 : flex로 엮을 때 wrap으로 엮지 않으면 양쪽으로 못 보냄. */
.todo-list-cell .align-wrap {
  display: flex;
  gap: 0.4vw;
  align-items: center;
}

.todo-list-cell .todo-list-optional {
  background-color: inherit;
  border: 0px;
  cursor: pointer;
}

.todo-list-cell .todo-list-optional {
  display: flex;
  justify-content: center;
  align-items: center;
}
